<!DOCTYPE>
<html>
<head>
	<title> About the Checkout System </title>
</head>
<body>
	<div>
		<a href="{{ url_for('view_items_page') }}">View Items</a>
		<a href="{{ url_for('view_register_item_page') }}">Register Items</a>
		<a href="{{ url_for('about_page') }}">About</a>
	</div>
	<h1> About the Check-out System </h1>
		<p> The checkout system is a catalog of items that a community of users can use to share, donate, and rent different items among one another. </p> 
		<p><i> The checkout system is developed and owned by Jonah Gates. The modification or distribution of the tool without permission is prohibitied. </i></p>
</body>
</html>

