<!DOCTYPE>
<html>
<head>
	<title> Checkout System </title>
	<style>
		table {
			width: 100%;
			border-collapse: border;
		}
		table, th, td {
			border: 1 px, solid black;
		}
		th, td {
			padding: 10 px;
			text-align: left;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}
		td {
			background-color: #f2f2f2;
		}
		.success {
			color: green;
			font-size: 0.8em;
		}
	</style>
</head>
<body> 
	<div> 
		<a href="{{ url_for("view_register_items_page") }}">Register Items</a>
		<a href="{{ url_for("view_account_page") }}">Account</a>
		<a href="{{ url_for("logout") }}">Logout</a>
	</div>
	<div>
		<h4>Filter Items by Category</h4>
		<form action="{{ url_for("view_items_page") }}" method="GET">
			<select name="category" onchange="this.form.submit()">
				<option value="All Items" {% if selected_category == 'All Items' %}selected{% endif %}>All Items</option>
				<option value="Tools" {% if selected_category == 'Tools' %}selected{% endif %}>Tools</option>
				<option value="Transportation" {% if selected_category == 'Transportation' %}selected{% endif %}>Transportation</option>
				<option value="Household" {% if selected_category == 'Household' %}selected{% endif %}>Household</option>
				<option value="Entertainment" {% if selected_category == 'Entertainment' %}selected{% endif %}>Entertainment</option>
				<option value="Clothing" {% if selected_category == 'Clothing' %}selected{% endif %}>Clothing</option>
			</select>
		</form>
	</div>
	<h3> Items </h3>

	{% if success_note.checkout %}
		<div class="success">{{ success_note.checkout }}</div>
	{% endif %} 

	{% if items %}
		<table>
			<thead>
				<th>Item</th>
				<th>Description</th>
				<th>Availability</th>
				<th>Category</th>
				<th>Check-out Item</th>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item[1] }}</td>
						<td>{{ item[2] }}</td>
						<td>{{ item[3] }}</td>
						<td>{{ item[4] }}</td>
						<td>
							{% if item[3] == "Available" %}
								<form method="POST" action="/checkout_item">
									<input type= "hidden" name="item_id" value="{{ item[0] }}">
									<button type="submit">Checkout</button>
								</form>
							{% else %}
							<span>Unavailable (Available on {{ item[5][:10] }} at 23:59:59)</span>
							{% endif %}		
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p> No items currently for rent. </p>
	{% endif %}
</body>
</html>

