<!DOCTYPE>
<html>
<head>
	<title> Checkout System </title>
	<style>
		table {
			width: 100%;
			border-collapse: border;
		}
		table, th, td {
			border: 1 px, solid black;
		}
		th, td {
			padding: 10 px;
			text-align: left;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}
		td {
			background-color: #f2f2f2;
		}
	</style>
</head>
<body> 
	<div> 
		<a href="{{ url_for('view_items_page') }}">View Items</a>
		<a href="{{ url_for('view_register_item_page') }}">Register Item</a>
		<a href="{{ url_for('about_page') }}">About</a>
	</div>
	<div>
	<h1> Available Items </h1>
	{% if available_items %}
	<form method="POST" action="/">
		<table>
			<thead>
				<th>Item</th>
				<th>Description</th>
			</thead>
			<tbody>
				{% for available_item in available_items %}
					<tr>
						<td>{{ available_item[1] }}</td>
						<td>{{ available_item[2] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	{% else %}
		<p> No items currently available for rent. </p>
	{% endif %}
</body>
</html>

