<!DOCTYPE>
<html>
<head>
	<title> Register an Item to the Catalog </title>
</head>
<body>
	<div>
		<a href="{{ url_for('view_items_page') }}">View Items</a>
		<a href="{{ url_for('view_register_item_page') }}">Register Items</a>
		<a href="{{ url_for('about_page') }}">About</a>
	</div>
	<h1> Register Item Manually</h1>
	<form method="POST" action="/add_item_manually">
		<label for="item_name">Item Name:</label>
		<input type="text" id="item_name" name="item_name">
		<label for="item_description">Item Description:</label>
		<input type="text" id="item_description" name="item_description">
		<input type="submit" value="Add Item">
	</form>
</body>
</html>

