<!DOCTYPE>
<html>
<head>
	<title> Register an Item to the Catalog </title>
	<style>
		.error {
			color: red;
			font-size: 0.8em;
		}
	</style>
</head>
<body>
	<div>
		<a href="{{ url_for("view_items_page") }}">View Catalog</a>
		<a href="{{ url_for("view_account_page") }}">Account</a>
	</div>
	<h3>Register Item Manually</h3>
	<form method="POST" action="/add_item_manually">
		<label for="item_name">Item Name:</label>
		<input type="text" id="item_name" name="item_name">
		<label for="item_description">Item Description:</label>
		<input type="text" id="item_description" name="item_description">
		<input type="submit" value="Add Item">
		{% if errors.manual_item_error %}
			<div class="error">{{ errors.manual_item_error }}</div>
		{% endif %}
	</form>
	<h3>Register Multiple Items via CSV</h3>
	<p>Step 1: Download the template csv below. For each item, enter a name and description.</p>
	<a href="{{ url_for("download_template") }}">Download Template CSV</a>
	<p>Step 2: Ensure your populated table is a csv file, then upload here.</label>
	<form method="POST" action="/upload_csv" enctype="multipart/form-data">
		<label for="file"></label>
		<input type="file" id="file" name="file">
		<input type="submit" value="Upload CSV">
		{% if errors.csv_error %}
			<div class="error">{{ errors.csv_error }}</div>
		{% endif %}
	</form>
</body>
</html>

